body,
html,
.map-container {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.map-container {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.ratings,
.search-box-container {
	font-size: 1.1em;
}

.search-box-container {
	background-color: #fff;
	left: 1%;
	max-height: 100%;
	opacity: 0.8;
	overflow: auto;
	position: absolute;
	top: 2%;
	z-index: 2;
}

.location-list {
	margin: 5px;
	padding: 0;
}

.search-input {
	font-size: 1.5em;
	padding: 10px 20px;
}

.location-item {
	background-color: #fff;
	border: solid green 1px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.location-item:hover {
	background-color: #000;
	color: #FFF;
}

.error-msg{
	color: red;
}

@media (max-width:600px) {
	.map-container {
		margin-top: 52px;
	}

	.location-list {
		margin: 0;
	}

	.search-box-container,
	.search-input {
		left: 0;
		overflow: hidden;
		top: 0;
		width: 100%;
	}
}
