body,
html,
.map-container {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.map-container {
	left: 0;
	position: absolute;
	top: 0;
}

.info-window,
.search-box-container {
	font-family: 'Baumans';
	font-size: 1.1em;
}

.search-box-container {
	background-color: #fff;
	left: 1%;
	max-height: 100%;
	opacity: 0.8;
	overflow: auto;
	position: absolute;
	top: 2%;
	z-index: 2;
}

.search-results-list {
	margin: 5px;
	padding: 0;
}

.search-box-input {
	font-family: 'Baumans';
	font-size: 1.1em;
	padding: 10px 20px;
}

.search-result {
	background-color: #000000;
	border: solid #8B008B 1px;
	border-radius: 5px;
	color: #FFFFFF;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.search-result:hover {
	background-color: #006699;
	color: #FFFFFF;
	cursor: pointer;
}
.weather-info{
    background-color: #006699;
    border: 2px solid #8B008B;
    border-radius: 5px;
    bottom: 5px;
    color: azure;
    font-family: 'Baumans';
    font-size: 1em;
    padding: 0 5px 0 5px;
    max-height: 100%;
    opacity: 0.8;
    position: absolute;
    right: 40px;
    z-index: 1;
}
.error-msg{
	color: red;
	text-align: center;
	width: 100%;
}
.review{
	color: #475351;
}
.rating{
	color: #FFDF00;
}
.weather-icon{
    float: left;
}
.weather-description{
    float: right;
}
.weather-temp{
    clear: both;
    font-weight: bold;
}

@media (max-width:600px) {
	.map-container {
		margin-top: 52px;
	}

	.search-results-list {
		margin: 0;
	}

	.search-box-container,
	.search-box-input {
		left: 0;
		overflow: hidden;
		top: 0;
		width: 100%;
	}
}
